body {
  background:white;
}

  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


/*modal box*/

.head-tag{
  margin-top: 40px;
}
.bg-modal {
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center; }
  
  
.bg-modal .close {
  position: absolute;
  font-size: 3rem;
　right: 1rem;
  top: 0, 5rem;
  transform: rotate(45deg);
  cursor: pointer; }
      
      
.box{
  display: grid¥;
  justify-content: center;
  margin: 0 auto;
  padding: 5rem;
  width: 50%;
  background-color: white;
  position: relative; 
 }
 
 /*html1について*/
.header {
  height: 100px;
  width:100%;

}
.splet-boxes {
  margin-top: 40px;
}

.left-box {
  margin-left:5%;
  font-size: 80px;
  float: left;
  width:40%;
  text-align: center;
  cursor: pointer;
  line-height: 300px;
  border-radius: 4px;
  border: 2px solid black;
}
p {
  font-weight: bold;
  
}

.right-box {
  margin-right:5%;
  font-size: 80px;
  float: right;
  width:40%;
  text-align: center;
  line-height: 300px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid black;
}
.left-box:hover {
  background: #FF0000;
  opacity: 0.7;
  
}
.right-box:hover {
  background: #66FF99;
  opacity: 0.7;
}


/*html２について*/
.select-skill {
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  margin-top: 100px;
}
li > input {
  position:relative;
   width: 50px;
   height:50px;
  float: left;
  margin: 50px 40px 0 20px;
  transform:scale(1.5);
}

.scrollWrap {
  width: 100%;
  margin: 0px auto; 
  overflow: auto;
}
.scrollContent ul {
  margin-top: 50px;
  list-style: none;
  background: white;
  padding: 0;
  position: relative;
}
.scrollContent ul li {
  margin-bottom: 30px;
  font-size: 30px;
  height: 150px;
  line-height: 150px;
  border:1px solid black;
  border-left: solid 6px #2d8fdd;
  position: relative;
}
.selected {
  background: rgb(34,181,115,0.7);
}
/*スクロールバーの幅*/
::-webkit-scrollbar {
    width: 6px;
}
/*スクロールバーのレール*/
::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #eee;
}
/*スクロールバーのつまみ*/
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #81D4FA;
}

a {
  text-decoration: none;
}

#decide {
  margin:100px auto 100px;
  font-size: 60px;
  width: 600px;
  padding: 20px 60px 30px 60px;
  text-align: center;
  display: block;
  color: white;
  background: rgb(34,181,115);
　font-size: 70px;
　border-radius: 20px;
　text-align: center;
　line-height: 100px;
}


/*html3について*/


h1 {
  text-align: center;
  font-size: 100px;
}


h2 {
  text-align: center;
  font-size: 80px;
}


h3 {
  text-align: center;
  font-size: 50px;
}


.loading {
  margin-top: 300px;
}

.icon {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 100px;
  transition: .4s;
}
.wait {
  margin-top: 200px;
}
.thanks {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 100px;
}

.container{
    margin: 0 auto;
    text-align:center;
}
.can {
  margin-top: 200px;
}
.can1 {
  margin-top: 200px;
}

#loading{
    margin: 0 auto;
    display: block;
    width: 400px;
}
.fa-check-circle:before {
  color: rgb(34,181,115);
}

.go {
  margin:350px auto 100px;
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  border:1px solid black;
  border-radius: 5px;
  display: block;
  color:white;
  background: rgb(34,181,115);
  width:650px;
  height: 150px;
  line-height: 150px;
}


/*direction button for map page*/

#map{
  position: fixed;
  z-index:0;
}
.direction-button{
  font-size: 20px;
  position: relative;
  color: white;
  bottom: 60px;
  left: 20px;
  z-index:10;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(0,113,188);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.people{
  height: 300px;
  margin-bottom: 100px;
}